---
// Component Imports
import BlogPostPreview from '../components/BlogPostPreview.astro';
import siteMetadata from "../data/siteMetadata";
import { Icon } from "astro-icon";
import Intro from '../components/Intro.astro';
import DefaultPageLayout from '../layouts/DefaultPageLayout.astro';

const MAX_DISPLAY = 5
const title = 'Lasest'
// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/**.mdx');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<DefaultPageLayout title={siteMetadata.title} description={siteMetadata.description} spokenLang="en">
	<Intro title={title} description={siteMetadata.description} />
	<section
		class="relative sm:pb-12 sm:ml-[calc(2rem+1px)] md:ml-[calc(3.5rem+1px)] lg:ml-[max(calc(14.5rem+1px),calc(100%-48rem))]">
		<div
			class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-slate-200 dark:bg-slate-800 sm:block">
		</div>
		<div class="space-y-16">
			{!allPosts.length && 'No posts found.'}
			{allPosts.slice(0,MAX_DISPLAY).map((item) =>
			<BlogPostPreview post={item} /> )}
			{
			allPosts.length > MAX_DISPLAY && (
			<div class="flex justify-end text-base font-medium leading-6">
				<a href="/blog" class=" inline-flex items-center text-sky-500 hover:text-sky-600 dark:hover:text-sky-400"
					aria-label="all posts">
					All posts
					<Icon name="heroicons-outline:arrow-narrow-right" class='h-5' />
				</a>
			</div>
			)
			}
		</div>
	</section>
</DefaultPageLayout>